<div class="login__container bd-gri hide" id="signin">
  <form action="auth/login" class="login__form" method="POST">
      <input class="signin__input" type="email" placeholder="Email" class="login__input">
      <input class="signin__input" type="password" placeholder="Password" class="login__input">
      <input class="signin__input" type="submit" value="Log In" id="login" class="buttonSignIn"></input>
  </form>
</div>