  <section class="signup section" id="signup">
    <h2 class="section-title">signup</h2>

    <div class="signup__container bd-grid">
        <form action="/auth/signup" class="signup__form" method="POST">
            <input type="text" placeholder="First Name" class="signup__input" id="firstName" name="firstName">
            <input type="text" placeholder="Last Name" class="signup__input" id="lastName" name="lastName">
            <input type="email" placeholder="Email" class="signup__input" id="email" name="email">
            <input type="password" placeholder="Password" class="signup__input" id="password" name="password">
            <input type="password" placeholder="Confirm Password" class="signup__input">
            <input type="submit" value="Submit" class="signup__button button">
        </form>
    </div>
</section>