<aside class="news">
    <div class="news_container">
        <h1 class="news_section_title">News</h1>
        <ul class="news_feed">
            <% for(let i=22; i < newsObj.data.length; i++) { %>
                <li class="news_item">
                    <div class="story-card">
                        <h4 class="story-title">
                            <%= newsObj.data[i].title %>
                        </h4>
                        <p class="story-descript">
                            <%= newsObj.data[i].description %>
                        </p>
                        <a href="#" id="read-more">Read More...</a>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>
</aside>