<section class="register section" id="register">
    <h2 class="section-title">Register</h2>

    <div class="register__container bd-grid">
        <form action="/register" class="register__form" method="POST">
            <input type="text" placeholder="First Name" class="register__input" id="firstName" name="firstName">
            <input type="text" placeholder="Last Name" class="register__input" id="lastName" name="lastName">
            <input type="email" placeholder="Email" class="register__input" id="email" name="email">
            <input type="password" placeholder="Password" class="register__input" id="password" name="password">
            <input type="password" placeholder="Confirm Password" class="register__input">
            <input type="submit" value="Submit" class="register__button button">
        </form>
    </div>
</section>