<main class="l-main">
    <!--===== LANDING =====-->
    <section class="landing bd-grid" id="landing">
        <div class="landing__data">
            <h1 class="landing__title">Welcome to <span class="landing__title-color">jargon</span>,<br>the networking
                app
                <br>made for veterans
            </h1>
            <ul class="landing_list">
                <li class="landing_item">
                    <a href="#" class="button landingBtn">Search for jobs</a>
                </li>
                <li class="landing_item">
                    <a href="#" class="button landingBtn">Find friends</a>
                </li>
                <li class="landing_item">
                    <a href="#" class="button landingBtn">Learn a new skill</a>
                </li>
            </ul>
            <img class="landing__img"
                src="https://blush.design/api/download?shareUri=hW2qKWvIC&c=Bottom_0%7E2b44ff_Hair_0%7E4a312c_Skin_0%7Eb28b67_Top_0%7Effa434&w=800&h=800&fm=png">
        </div>
    </section>

    <!--===== SIGNUP =====-->
    <%- include('./auth/signup') %>
</main>