<main class="l-main">
    <!--===== PROFILE CARD =====-->
    <section class="profile-card" id="profileCard">
        <h2>
            <%= `${firstName} ${lastName}` %>
        </h2>
        <div class="profile-card-background-image">
            <div class="tempImgBgd"></div>
        </div>
        <div class="profile-user-image"></div>
        <div class="profile-user-info"></div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about section" id="about">
        <header>
            <h2>About</h2>
            <a href="#editAbout">
                <box-icon name='edit-alt'></box-icon>
            </a>
        </header>
        <p class="profile-about"></p>
    </section>

    <!--===== EXPERIENCE =====-->
    <section class="experience section" id="experience">
        <header>
            <h2>Experience</h2>
            <a href="#editExperience">
                <box-icon name='edit-alt'></box-icon>
            </a>
        </header>
    </section>
</main>